text_clasificator/benedetti.pdf
text_clasificator/neruda.pdf

similarity/SBW-vectors-300-min5.txt
spinning/data_larazon_publico_v2.csv
A-Complejidad Computacional.pdf
# Ignorar una carpeta completa
word2vec/textos/
